@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/*Header*/
.afwatitle {
  height: 64px;
  min-width: 1200px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 14px 2px rgba(0,0,0,0.5) !important;
}

#afwalogo {
  height: 41px !important;
  padding-top: 10px;
  padding-left: 17px;
}

.subtitle-cont {
  width: 1012px;
  margin: auto;
  padding-left: 15px;
}

.subtitle-bx {
  color: #363636;
  font-size: 20px;
  font-weight: 900;
  font-family: "Source Sans Pro";
  letter-spacing: 0;
  line-height: 25px;
  margin: auto;
  margin-top: 33px;
}

.main-contain {
  width: 1012px;
  margin: auto;
}

/*Goal Accordians*/
.goalbox {
  background: #37814E;
  width: 1012px;
  height: 200px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  margin: auto;
  margin-top: 20px;
}

.gb-pt1 {
  width: 1012px;
  height: 159px;
}

.gb-main {
  height: 159px;
  width: 360px;
  border-radius: 2px 0 2px 2px;
  background: #2B643D;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  float: left;
}

.goalbox-text {
  height: 103px;
  width: 326px;
  color: #FFFFFF;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 25px;
  padding: 26px;
  margin-top: 0px;
}

.gb-roll {
  height: 159px;
  width: 652px;
  background: #37814E;
  float: right;
}

.gb-tile {
  color: #FFFFFF;
  width: 144px;
  height: 92px;
  margin: 16px;
  margin-top: 27px;
}

.gb-tile-hv {
  color: #b2c0b7;
  width: 144px;
  height: 92px;
  margin: 16px;
  margin-top: 27px;
}

.gb-tile-val {
  font-size: 50px;
  font-family: "Source Sans Pro";
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

.gb-tile-var {
  font-size: 16px;
  font-family: "Source Sans Pro";
  text-align: center;
  margin-top: 0px;
}

.gb-tile-1 {
  margin-left: 88px;
  float: left;
}

.gb-tile-2 {
  float: left;
}

.gb-bttm-bx {
  height: 41px;
  width: 1012px;
  border-radius: 0 0 2px 2px;
  background: #363636;
}

.line {
  box-sizing: border-box;
  height: 1px;
  width: 1013px;
  border: 1px solid #FFFFFF;
}

#measuret {
  height: 32px;
  width: 91px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  font-family: "Source Sans Pro";
  letter-spacing: 0;
  line-height: 23px;
  padding-left: 26px;
  padding-top: 10px;
  margin-top: 0px;
  float: left;
}

#gb-button {
  padding: 0px;
  width: 50px;
  height: 41px;
  float: right;
}

.oval {
  height: 22px;
  width: 22px;
  background-color: #FFFFFF;
}

.gb-triangle {
  color: rgba(255,255,255,0.8);
  font-size: 26px;
}

/*Goal info drop downs*/
.goalbox-info {
  height: 294px;
  width: 1012px;
  margin: auto;
  padding-top: 10px;
  margin-bottom: 20px;
}

/*Measure Tiles*/
.ms-tile {
  height: 159px;
  width: 493px;
  background: #37814E;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.ms-tile-head-title {
  color: #363636;
  font-family: "Source Sans Pro";
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 34px;
  padding-top: 28px;
  padding-left: 26px;
}

.ms-tile-head-text {
  color: #FFFFFF;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 25px;
  width: 442px;
  padding-left: 26px;
}

.ms-tile-oval {
  height: 130px;
  width: 360px;
  background-color: #FFFFFF;
  border-top-left-radius: 50%;  
  border-top-right-radius: 50%; 
  border-bottom: 0;
  margin-top: 25px;
  margin-left: 22px;
}

.ms-tile-btm {
  background: #363636;
  width: 493px;
  height: 41px;
}

#detailfont {
  height: 32px;
  width: 60px;
  color: #FFFFFF;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 23px;
  padding-left: 26px;
  margin-top: 0px;
  padding-top: 10px;
  float: left;
}

#ms-button {
  padding: 5px;
  width: 50px;
  height: 41px;
  float: right;
}

.ms-plus {
  color: rgba(255,255,255,0.8);
  font-size: 26px;
}

/*Measure Viz*/
.measure-viz {
  height: 294px;
  width: 1012px;
  margin: auto;
  padding-top: 10px;
  margin-bottom: 20px;
}

.vzs-head {
  background: #363636;
  width: 1012px;
  height: 41px;
}

#vzsheadfont {
  height: 32px;
  width: 300px;
  color: #FFFFFF;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 23px;
  padding-left: 26px;
  margin-top: 0px;
  padding-top: 10px;
  float: left;
}

#dashdetailtxt {
  width: 921px;
  color: #363636;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

.vizspace {
  min-height: 571px;
  width: 1012px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  float: left;
  margin-top: 27px;
  margin-bottom: 33px;
  position: relative;
}

/*Bottom of Application*/
.bttm-spacing {
  height: 42px;
}